app:
  eureka-server: localhost
  eureka-username: user
  eureka-password: '{cipher}b9e29d75fd3b67597eb76baffdd273daf06c7b0071130629d60c22e2f65aab67'
  auth-server: localhost
  config-server: localhost
  

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: "http://${app.eureka-username}:${app.eureka-password}@${app.eureka-server}:8761/eureka/"
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

encrypt:
  key: my-very-secure-encrypt-key

---
spring:
  config.activate.on-profile: docker
app:
  eureka-server: eureka-registration
  auth-server: auth-server
  config-server: config-server

